.toubu{
    width: 1200px;
    height: 100px;
    overflow: hidden;
    margin: 0 auto;
}
.toubu-left{
    width: 270px;
    height: 100px;
    float: left;
}
.toubu-left a img{
    width: 260px;
    height: 60px;
    margin-top: 20px;
}
.toubu-right{
    width: 280px;
    height: 100px;
    float: right;
}
.toubu-right a{
    display: block;
    float: left;
    margin-top: 30px;
}
.toubu-right a:nth-child(2){
    margin-left: 15px;
}
.toubu-right a img{
    width: 38px;
    height: 38px;
}

.toubu-right p{
    margin-left: 15px;
    float: left;
    font-size: 14px;
    color: #626b6a;
    line-height: 100px;
    cursor: pointer;
}
.daohang{
    width: 100%;
    height: 55px;
    background: #2fbb96;
}
.daohang-box{
    width: 1200px;
    height: 55px;
    margin: 0 auto;
    overflow: hidden;
}
.daohang-box a {
    display: block;
    float: left;
    width: 120px;
    height: 55px;
    overflow: hidden;
    text-align: center;
    line-height: 55px;
    color: #fff;
    font-size: 18px;
}
.black{
    background: #494b4a;
}
.daohang-box form{
    display: block;
    float: right;
    width: 160px;
    height: 35px;
    margin-top: 10px;
    position: relative;
}
.daohang-box form input{
    width: 160px;
    height: 35px;
    background: #e5f6f0;
    position: absolute;
    border-radius: 20px;
    border: 0 none;
    text-indent: 3em;
}
.daohang-box form button{
    border: 0 none;
    background: url(../images/01_10.png) no-repeat;
    position: absolute;
    cursor: pointer;
    top: 8px;
    z-index: 1;
    left: 10px;
    width: 20px;
    height: 23px; 
}
.neirong-box1{
    width: 1200px;
    height: 400px;
    margin: 0 auto;
    margin-top: 25px;
}
.neirong-box1-1{
    width: 585px;
    height: 400px;
    float: left;
    position:relative;
}
.neirong-box1-1 img{
    width: 585px;
    height: 400px;
    position: absolute;
}
.neirong-box1-1 p{
    text-indent: 1em;
    width: 585px;
    height: 50px;
    position: absolute;
    color: #fff;
    font-size: 22px;
    bottom: 0px;
    line-height: 50px;
    background: -moz-linear-gradient(top, transparent 0%, #5f6362 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(top, transparent 0%,#5f6362 100%);
    background: -o-linear-gradient(top, transparent 0%,#5f6362 100%);
    background: -ms-linear-gradient(top, transparent 0%,#5f6362 100%);
    background: linear-gradient(to bottom, transparent 0%,#5f6362 100%);
}
.neirong-box1-2{
    width: 615px;
    height: 400px;
    float: left;
    overflow: hidden;
}
.neirong-box1-2-1{
    width: 299px;
    height: 200px;
    margin-left: 8px;
    position: relative;
    float: left;
    overflow: hidden;
}
.top{
    margin-top:5px!important;
}
.neirong-box1-2-1 img{
    width: 300px;
    height: 200px;
    overflow: hidden;
    position: absolute;
}
.neirong-box1-2-1 p{
    width: 250px;
    height: 50px;
    line-height: 50px;
    position:absolute;
    bottom: 0px;
    color: #fff;
    overflow: hidden;
    background: rgba(200,209,208,0.8);
    text-indent: 2em;
}
.neirong-box2{
    width: 1200px;
    height: 600px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 40px;
}
.neirong-box2-left{
    height: 600px;
    width: 820px;
    float: left;
    overflow: hidden;
}
.zuixin{
    height: 70px;
    width: 820px;
    overflow: hidden;
}
.zuixin-1{
    width: 30px;
    height: 10px;
    background: #ffd527;
    border-radius: 5px;
}
.zuixin-2{
    font-size: 36px;
    color: #000;
}
.zuixin-2 span{
    color: #6b6663;
    font-size: 16px;
    margin-left: 10px;
}
.neirong-box2-left-nr{
    width:820px;
    height: 135px;
    overflow: hidden;
    margin-top: 35px;
}
.neirong-box2-left-nr>img{
    display: block;
    float: left;
    overflow: hidden;
    width: 200px;
    height: 135px;
}
.neirong-box2-left-nr h2{
    float: left;
    font-size: 24px;
    color: #000;
    margin-left: 20px;
}
.neirong-box2-left-nr>p{
    float: left;
    font-size: 14px;
    line-height: 20px;
    color: #696c63;
    width: 580px;
    margin-left: 20px;
}
.biaoqian{
    width: 580px;
    height: 35px;
    float: left;
    margin-left: 20px;
    margin-top: 15px;
    overflow: hidden;
}
.biaoqian>a{
    float: left;
    padding: 5px 8px;
    border-radius: 20px;
    border: 1px solid #dcdcdc;
    color: #d7a560;
}
.biaoqian img{
    margin-left: 250px;
    margin-top:5px;
    cursor: pointer;
    float: left;
}
.biaoqian span{
    float: left;
    line-height: 28px;
    margin-left: 5px;
}
.neirong-box2-right{
    width: 300px;
    height: 600px;
    float: left;
    overflow: hidden;
    margin-left: 80px;
}





.tab-jquery{
    width: 300px;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;

}
.tab-jquery ul {
    width: 300px;
    height: 55px;
    overflow: hidden;
    border-bottom: 1px solid #000;
}
.tab-jquery ul li {
    font-size: 28px;
    font-weight: bold;
    float: left;
    line-height: 55px;
    width:150px;
    text-align: center;
    cursor: pointer;
}

.tab-jquery ul li:nth-child(1){
    margin-left: 0px;
    border-left: 0 none;
    }
.tab-jquery-box{
    width: 300px;
    height: 540px;
    display: none;
}
.ion{
    color: #33bab4;
}
.icn{
    color: #000;
}
.tab-jquery-box img{
    width: 300px;
    height: 390px;
    margin-top: 50px;
}
.tab-jquery-box p{
    width: 300px;
    height: 80px;
    background: #d6d6d6;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    text-indent: 2em;
}
.neirong-bxo3{
    width: 1200px;
    height: 520px;
    overflow: hidden;
    margin:0 auto;
    margin-top: 50px;
}
.neirong-box3-left{
    width: 1200px;
    height: 520px;
    float: left;
    overflow: hidden;
}
.bg{
    background: #2fbb94!important;
}
.shenghuo-box1{
    width: 300px;
    height: 500px;
    background: #bee3f3;
    overflow: hidden;
    float: left;
}
.shenghuo-box1 h2{
    font-size: 22px;
    line-height:40px;
    margin-left: 20px;
    margin-top: 10px;
    width: 245px;
    color: #2b3443;
}
.shenghuo-box1 img{
    width: 300px;
    height: 200px;
    margin-top:160px;
}
.shenghuo-box2{
    width: 585px;
    height: 500px;
    background: #f2e3a2;
    margin-left: 5px;
    overflow: hidden;
    float: left;
}
.shenghuo-box2 img{
    width: 585px;
    height: 300px;
}
.shenghuo-box2 h2{
    font-size: 22px;
    line-height:40px;
    margin-left: 20px;
    margin-top: 10px;
    width: 440px;
    color: #2b3443;
}
.shenghuo-box2 p {
    width: 530px;
    color: #5d635f;
    font-size: 14px;
    margin-left: 20px;
    line-height: 25px;
}
.shenghuo-box3{
    width: 300px;
    height: 500px;
    background: #f2d7ea;
    margin-left: 10px;
    overflow: hidden;
    float: left;
}
.shenghuo-box3 img{
    width: 300px;
    height: 200px;

}
.shenghuo-box3 h2{
    font-size: 22px;
    line-height:40px;
    margin-left: 20px;
    margin-top: 10px;
    width: 250px;
    color: #2b3443;
}
.shenghuo-box3 p {
    width: 250px;
    color: #5d635f;
    font-size: 14px;
    margin-top: 25px;
    margin-left: 20px;
    line-height: 22px;
}
.gb-1{
    background: #7ba1f2!important;
}
.neirong-box2-right h1 {
    font-size: 28px;
    color: #000;
    line-height: 46px;
    margin-top: 10px;
}
.neirong-box2-right h1 img{
    display: block;
    float: left;
}
.neirong-box2-right>img{
    width: 160px;
    height: 160px;
    display: block;
    margin-top: 20px;
    margin-left: 75px;
}
.neirong-box2-right h3{
    margin-top: 20px;
    font-size: 18px;
    color: #31332e;
    margin-bottom: 20px;
}
.neirong-box2-right p{
    font-size: 16px;
    margin-top: 10px;
    line-height: 20px;
    color: #31332e;
}
.neirong-box2-right span{
    width: 300px;
    height: 1px;
    display: block;
    margin-top: 30px;
    border-bottom: 1px solid #000;
}
.zd{
    width: 100px;
    height: 140px;
    overflow: hidden;
    color: #888888;
    font-size: 14px;
    margin:0 auto;
    margin-top: 60px;
}
.neirong-box2-right li img{
    width: 100px;
    height: 100px;
}
.neirong-box4{
    width: 1200px;
    margin:0 auto;
    margin-top:30px;
}
.bg-3{
    background: #ff8e2e!important;
}
.neirong-box5{
    width: 100%;
    background: #eeeeee;
}
.bo-1{
    width: 100px!important;
    height: 100px!important;
    position:absolute!important;
    left: 45%;
    top: 45%;
}
.bo{
    width: 50px!important;
    height: 50px!important;
    position:absolute!important;
    left: 45%;
    top: 45%;
}
.bg-4{
    background: #ef6479!important;
}

.cc img{
    width: 300px!important;
    height: 380px!important;
    margin-top: 100px;
}
.cc h3{
    width: 300px;
    text-align: center;
    font-size: 20px;
    color: #000;
}
.dibu{
    width: 100%;
    height: 200px;
    background: #2fbb96;
}
.dibu-box{
    width: 1200px;
    height: 200px;
    margin:0 auto;
}
.dibu-box>img{
    margin-top: 70px;
    float: left;
    display: block;
}
.dibu-bxo-1{
    width: 360px;
    height: 120px;
    margin-left: 20px;
    float: left;
    margin-top:50px;
    border-left: 1px solid #59caae;
}
.dibu-bxo-1 a {
    width: 100px;
    display: block;
    float: left;
    margin-left: 60px;
    font-size: 16px;
    margin-top: 15px;
    overflow: hidden;
    color: #fff;
}
.dibu-bxo-1 p{
    float: left;
    margin-left: 60px;
    font-size: 16px;
    margin-top: 15px;
    overflow: hidden;
    color: #fff;
}
.live{
    width: 1200px;
    margin:0 auto;
    overflow: hidden;
}
.live-box-left{
    width: 850px;
    float: left;
}
.live-box-right{
    float: left;
    width: 300px;
    height: 920px;
    overflow: hidden;
}
.live-box-right-1{
    margin-top: 40px;
    width: 298px;
    height: 300px;
    border: 1px solid #dddddd;
    overflow: hidden;

}
.live-box-right-1 img{
    width: 170px;
    height: 170px;
    overflow: hidden;
    margin-top: 40px;
    margin-left: 60px;
    overflow: hidden;
}
.live-box-right-1 p{
    width: 230px;
    margin-left: 40px;
    color: #2d3537;
    font-size: 14px;
}
.live-box-right-2{
    margin-top: 20px;
}
.live-box-right-2 h3{
    font-size: 18px;
    color: #000;
}
.live-box-liebiao{
    width: 300px;
    height: 120px;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    margin-top: 10px;
}
.live-box-liebiao a img{
    float: left;
    width: 150px;
    height: 100px;
}
.live-box-liebiao a p {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
.jiazai{
    width: 850px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    background:#ffd527;
    overflow: hidden;
    color: #fff;
    margin-top:40px;
    margin-bottom: 80px;
    cursor: pointer;
    float: left;
    font-size: 18px;
}
.a1,.a2{
    margin-top: 20px;
    color: #000;
    float: left;
}
.s1,.s2{
    float: left;
    margin-top: 20px;
    color: #000;
    margin-left: 5px;
    margin-right: 5px;
}
.live-box-left h1{
    width: 850px;
    font-size: 34px;
    float: left;
    margin-top: 20px;
    color: #3f3832;
}
.s2{
    color: #8c8c8c!important;
}
.i1{
    float: right;
    margin-top: 20px;
    margin-right: 10px;
}
.s3{
    float: right;
    color: red;
    font-weight: bold;
    font-size: 26px;
    margin-top: 20px;
    margin-right: 100px;
}
.live-box-left li{
    width: 820px;
    height: 1px;
    border-bottom: 1px solid #ccc;
    float: left;
    margin-top: 20px;
}
.bt{
    overflow: hidden;
}
.live-box-left p{
    line-height: 30px;
    text-indent: 2em;
    font-size: 16px;
    width: 750px;
    color: #333b30;  
}
.live-box-left h3{
    margin-top: 20px;
    color: #373133;
    font-size: 20px;
}
.i2{

    display: block;
    margin:0 auto;
    margin-top: 20px;
}
.ul1{
    line-height: 70px;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 70px;
    width: 850px;
    border-bottom: 5px solid #000;
}
.span1{
    margin-left: 600px;
    color: #8f9094;
}
.span2{
    color: #8f9094;
    margin-left: 10px;
}
